$main_text_color: rgb(248, 244, 244);
$second_text_color: rgba(200, 241, 167, 0.76);
$third_text_color: rgba(151, 202, 108, 0.637);
$main_background_color: rgba(108, 165, 62, 0.459);
$button_background_color: rgb(94, 99, 104);
$breakpoint_min: 0px;
$breakpoint_mid: 400px;
$breakpoint_max: 1000px;